<!DOCTYPE html>
<html>
<head>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<title>
	Potrait Me
</title>
</head>

<body style="padding-top:100px; padding-left:20px;">
<nav class="navbar fixed-top navbar-dark bg-dark py-4">
	<div class="container-fluid">
		<div class="navbar-header">
		<a class="navbar-brand" href="/">Home</a>
		<a class="navbar-brand" href="https://github.com/G0rav/Automatic_Background_Remover">Github Source</a>
		<a class="navbar-brand" href="/live-stream">Live Stream</a>
		</div>
	</div>
</nav>

<h1 font-size: 2.25rem; style="text-align:center;">Potrait Me</h1>
<div class="container col-md-8">
	<br>
	
	<div class="row">
		<div class="col">
			<img src="https://raw.githubusercontent.com/G0rav/Automatic_Background_Removal/main/src/Me.png" style="width: 300px; height: 300px;" >
		</div>
        
		<div class="col">
	       <br>
		   <br>
		   <br>
		   <br>
		  <div class="form-group">
			<form class="form-inline" action = "/" method = "POST" enctype = "multipart/form-data">
			  <input class="form-control" type="text" name="url" id="url" placeholder="Enter url. eg.- https://.........jpg/.png">
			  <h6 style="text-align:center; padding:5px; color:#001630;">Or upload an image (.jpg, .png)</h6>
			  <input  class="form-control" type = "file" name = "image" id = "file-upload">
		  </div> 
    
		  <div style="text-align:center; padding:20px;">
			<button type="submit" class="btn btn-primary mb-2">Predict</button>
						
		  </div>

	       </form>
	    </div> 
	</div>
</div>

<h5 style="text-align:left; color:#002044;">
</br>
Green screens are the past now. Just upload an image and it will remove the background for you within 4-5 seconds.
</br>
{{message}}
</h5>



{% if image_name%}
<div class="container col-md-8">
	<div class="row">
		<div class="col">
			<h5 style="color:#002044;">Original Image</h5>
		</div>

		<div class="col">
			<h5 style="color:#002044;">Potrait</h5>
		</div>
	</div>

	<div class="row">

		<div class="col">
		<img class="border border-success" src="static/{{image_name}}" style="width: 256px; height: 256px;" >
		</div>

		<div class="col">
		<img class="border border-success" src="static/{{pred_image_name}}" style="width: 256px; height: 256px;">
		</div>
	</div>
</div>
{%endif%}

<br>
<br>
</br>
</body>