<!DOCTYPE html>
<html>
<head>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<title>
	Portrait Me
</title>
</head>

<body style="padding-top:100px; padding-left:20px;">

<nav class="navbar fixed-top navbar-dark bg-dark py-4">
	<div class="container-fluid">
		<div class="navbar-header">
		<a class="navbar-brand" href="/">Home</a>
		<a class="navbar-brand" href="https://github.com/G0rav/Automatic_Background_Removal">Github Source</a>
		<a class="navbar-brand" href="/live-stream">Live Stream</a>
		</div>
	</div>
</nav>

<a class="btn btn-primary mb-2" href="/">Predict Image</a>

<div class=" container" style="text-align: center;" >

		<div>
			<h1 style=" color:#002044;">Live Video Predictions</h1>
			<br>
			<img class="border border-success" src="{{ url_for('video_feed') }}" style="width: 256px; height: 256px;" >
		</div>

	</div>

</div>
<br>
<br>
<br>
<br>
<h5 style=" color:#002044;">Currently live stream is in development phase for production. 
	However, it is working Great locally. You definitely need to check that out.
	<br>
	Just download the code from the <a href="https://github.com/G0rav/Automatic_Background_Removal">github source</a> and run on your system. Enjoy :) </h5>
<br>
</body>